<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>핸들바써보기</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
{{#block "header" }}
    <h1 style="background:red;">header</h1>
{{/block}}

{{#block "content" }}
{{/block}}

{{#block "footer" }}
    <h1 style="background: green;">footer</h1>
{{/block}}
</body>
</html>